body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    margin: 40px;
}
h1{
    text-align: center;
    color: green;
}
h2{
    text-align: center;
    color: rgb(28, 20, 120);
}
p{
    text-align: center;
    font-size: 18px;
    color: brown;
}
img{
    margin: 0px 380px auto;
    width: 700px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
    
}
.button-link{
    color: white;
    background-color: green;
    padding: 13px 20px;
    margin: 40px 660px;
    border-radius: 25px;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.button-link:hover{
    background-color: darkblue;
    transform: scale(1.05);
}